body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$phone: max-width 599px;
$tablet-portrait: min-width 600px;
$tablet-portrait-only: min-width 600px and max-width 899px;
$tablet-landscape: min-width 900px;
$tablet-landscape-only: min-width 900px and max-width 1199px;
$desktop: min-width 1200px;
$desktop-only: min-width 1200px and max-width 1799px;
$ultrawide: min-width 1800px;


