.outerContainer{
    // display: flex;
    // flex-direction: row;

    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto 20%;
   

    border-style: solid;
    border-color: red;
    height: 20vh;
    margin: 0px 13% 0px;
}
.innerContainerLeft{
    border-style: dashed;
    height: 100%;
    // width: 80%;   
    background-color:brown;
}

.innerContainerLeftUnder{
    border-style: dashed;
    color:blue;
    height: 100%;
    // width: 80%;   
    background-color: cadetblue;
}

.innerContainerRight{
    border-style: dashed;
    height: 100%;
    // width: 20%;   
}