.outerContainer{
    // display: flex;
    // flex-direction: row;

    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto 20%;
   

    // border-style: solid;
    border-color: red;
    height: 20vh;
    margin: 0px 13% 0px;

    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.innerContainerLeft{
    // border-style: dashed;
    height: 100%;
    // width: 80%;   
    // background-color:brown;
    
}
.title{
    padding-left: 4%;
    padding-top: 1%;
    font-size: 2rem;
    text-shadow: 1px 1px;
    align-self: center;
}


.innerContainerLeftUnder{
    // border-style: dashed;
    color:blue;
    height: 100%;
    // width: 80%;   
    // background-color: cadetblue;
    padding-left: 20px;
    
}
.plus{
    // border-style: solid;
    padding-left: 2px;
    padding-bottom: 0px;
    height: 100%;
}

.innerContainerRight{
    border-style: dashed;
    height: 124%;
    // width: 20%;  
}

.image{
    object-fit: contain;
    padding: 10%;
    width: 100%;
}


