.wrapper{
    // margin-top: 30vh;
    width: 100%;
    // border-style: dashed;
    border-color: chartreuse;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 30px;
}

.outerContainer{
    border-style: solid;
    border-width: 1px;
    width: 75%;
    height: 130px;
    display: flex;
    border-radius: 8px;
    

    

    display: grid;
    grid-template-columns: 20% 20% 20% 25% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

@media screen and (max-width: 600px) {
    .outerContainer {
     width: 100%;
     height: 100%;
    }
  }

  .hello{
      border-style: dashed;
      border-color: chocolate;
      grid-column-start: 5;
      grid-row-start: 1;
      grid-row-end: 6;

      object-fit: cover;
      width:80%;
      height: 80%;

      margin: auto;

      border-radius: 8px;
  }

  .tdiv{
    //   border-style: dashed;
    border-color: chocolate;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 100px;
  }

  .title{

    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 600;

    margin-left: 10px;
    margin-top: 0px;

  }


  .catDiv{
    padding-left: 20px;
  }
  .cats{
   
    font-size: 1rem;
    // margin-left: 30px;
    line-height: 23px;
    padding: 0px;
    padding-left: 7px;
    padding-right: 8px;
    border-radius: 12px;
    //   background-color: blue;
  }


  .urlDiv{
    //   border-style: dashed;
      border-color: blueviolet;

      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;

      margin-left: 10px
  }

  .iconDiv{
    //   border-style: dashed;
      border-color: green;

      grid-row-start: 5;
      grid-column-start: 1;
      grid-column-end: 5;

      display: grid;
      grid-template-columns: 82% 10% 13%;
  }

  .plus{

    // border-style: dashed;
    //   max-width:  110%;
      padding-left: 10px;
      margin-top: -3px;
  }

  .icon{
      font-size: 1.2rem;
      color: blueviolet;
  }

  .folder{
    //   border-style: dashed;
    margin-top: -4px;
  }

  .push{
    //   margin-bottom: 15px;  
    display: flex;
    // border-style: dashed;
    justify-content: center;
  }
  .sum{
    display: inline-flex;
    align-items: center; 
    height: 22px;
    font-weight: 730;
    font-size: 0.7rem;
    line-height: 10px;
    padding-top: 1px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 12px;
    margin-top: -1px;
    letter-spacing: 0.1rem;
    // height: 10px;
  }