.outerContainer{
    width: 100%;
    border-style: dashed;
    border-color: chartreuse;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

.innerContainer{
    // border-style: solid;
    border-width: 1px;
    width: 75%;

    display: flex;
    border-radius: 8px;
}