

.outerContainer{
    padding: 20px 5vw 0px;

    // border-style: dashed;
    border-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    max-width: 100%;
    height: 30vh;
    margin-top: 100px;
    margin-bottom: 50px;
}

.item{
    // max-width: 30%;
    flex-grow: 1;
    // border-style: dashed;
    width: 60%;
    justify-content: flex-start;
    box-shadow: 1px 1px 3px 1px;
    
}

.image{
    object-fit: cover;
    width: 100%;
    height: 80%;
    // border: 5px solid #555;
}

.text{
    margin-top: 40px;
    padding-left: 7px;
    
    font-size: auto;
    // border-style: double;
    height: 20%;
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .outerContainer {
      display: none;
    }

    .spacer{
        margin-bottom: 80px;
    }
}