.outerContainer{
    padding: 40px 5vw 0px;

    border-style: dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    max-width: 100%;
    height: 40vh;
}

.item{
    // max-width: 30%;
    flex-grow: 1;
    border-style: dashed;
    
}

.image{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}