.outerContainer{
    border-bottom: 5px solid red;
    border-width: 5px;
    // border-color: rgb(206, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    
    font-size: 100%;

    background-color: rgb(236, 236, 236);
    position: fixed; 
    top: 0; 
    width: 100%;

    // margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 2px;

    
}

.innerLeft {
    display: flex;
    flex-grow: 1;
    // border-style: solid;
    border-width: 5px;
    border-color: black;
    padding-left: 3%;
  
}

.innerMiddle{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    // border-style: dashed;
    border-color:brown;
    margin-left: 20px;
    margin-right: 30px;
}

.innerRight {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    // border-style: solid;
    border-width: 5px;
    border-color: black;
    padding-right: 5%;
   
}

.items{
    // max-width: 1%;
    border-style: dashed;
    // padding-left:3%;
    // padding-right: 3%;
    border-style: dashed;
    color: blue;
    
}


.search{
    width: 100%;
}
.logo{
    padding-left: 30px;
    max-width: 100px;
}

.metascoop{
    padding-left: 3%;
    // padding-bottom: 20px;
    // border-style: dashed;
    max-width: 100%;
    font-size: 3rem;
}

.metascoopHover{
    padding-left: 3%;
    // padding-bottom: 20px;
    // border-style: dashed;
    max-width: 100%;
    font-size: 3rem;
    color: red;
}

.item {
    font-size: 2rem;
    padding-right: 5%;
}

.icon{
    // border-style: dashed;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px;
    
}





.searchbar{
    width: 60%;
    height: 90%;
    margin-top: 5px;  
}

.box{
    max-width: 100%;
}

@media only screen and (min-width: 601px) {
    .searchbar2 {
      display: none;
    }
}

@media only screen and (max-width: 600px) {
    .searchbar {
      display: none;
    }

    .outerContainer{
        border-bottom: 5px solid red;
        border-width: 5px;
        // border-color: rgb(206, 29, 29);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
        
        font-size: 100%;
    
        background-color: rgb(236, 236, 236);
        position: fixed; 
        top: 0; 
        width: 100%;
    
        // margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    
    
    .innerLeft{
        // border-style:solid;
        border-width: 2px;
        height: 50px;
    }
    .logo{
        padding-left: 10px;
        max-width: 100px;
        max-height: 100%;
    }
    .innerMiddle{
        // border-style:solid;
        border-width: 2px;
    }
    
    
    .metascoop, .metascoopHover, .item {
        display: none
    }

    .searchbar2 {
        padding-top: 8px;   
        height: 100%;
        line-height: 2rem;
      }

    .button2{
        height: 100%;
    }

  }